

 <p id="notice"><%= notice %></p>
 
 
<div class="page-header" align="center" id="banner">
<div class="row">
<div class="col-sm-6">
<h1>mHealth Project Deck</h1>
<p class="lead">The current projects under consideration for review by the mHealth executive committee, updated in real-time</p>
</div>

<div class="col-sm-6">
<p><button type="button" class="btn btn-fab btn-fab-mini">#</button>
<small>&nbsp;= Quality Score (out of 100); </small>

<small style="color:#FFAB12">&nbsp; under review</small>
<small style="color:#03a9f4">&nbsp; reviewed</small>
<small style="color:#4caf50">&nbsp; approved</small>

</p></div>
</div></div>

<div class="row"><p><br></p></div>

<!--<div class="row">-->
<!--    <ul class="nav nav-pills">-->
<!--        <li class="active"><a href="#">Approved<span class="badge">42</span></a></li>-->
<!--    </ul>-->
<!--    <div id="source-button" class="btn btn-primary btn-xs" style="display:none;">< ></div>-->
<!--</div>-->



<div class="row">
    <a href="#" class="btn btn-raised btn-info">Reviewed!</a>
  
  
  </div>
  
  
<div class="row">
  
<% @projects.order(:score).each do |project|%>
<% if project.exists %>
<div class="col-sm-6">
 <div class="well infobox">
    
     <% if project.oldscore < project.score %>
        <button type="button" class="btn btn-fab btn-fab-mini"><%= project.score %></button>
     <% else %>
         <button type="button" class="btn btn-fab btn-fab-mini"><%= project.score %></button>
     <% end %>

     <% if project.approved %>
          <label class="control-label green" for="inputSmall"> &nbsp; approved <i class="material-icons green md-18">done</i></label>
     <% else %>
     <% end %>
     
     
     <h2><%= project.name %></h2>
     <h3><%= project.subtitle %></h3>
     <p>
     <%= project.description %> 
     </p>
     
     
         
     <% if project.new %>
         <label class="control-label" for="inputSmall"><%= project.datecreated.to_formatted_s(:long) %></label>
         
     <% elsif project.approved %>
         <label class="control-label green" for="inputSmall"><i><%= project.dateapproved.to_formatted_s(:long) %> &nbsp; (approved)</i></label>
     <% else %>
         <label class="control-label" for="inputSmall"><i><%= project.dateedited.to_formatted_s(:long) %> &nbsp; (edited)</i></label>
         <label class="control-label" for="inputSmall"><% project.dateunderreview.to_formatted_s(:long)  %> &nbsp; (under review)</label>    
         <label class="control-label" for="inputSmall"><% project.datereviewed.to_formatted_s(:long)  %> &nbsp; (reviewed)</label>    
     <% end %>
     <p>
     </p>
 </div>
 </div>
 <% else %>
 <% end %> <!-- closes if exists statement -->
 
 <% end %> <!-- closes projects loop -->    
      
</div>
     
    </body>
    
    
  
 <!--<%= link_to 'New Project', new_project_path %>-->
