

<p id="notice"><%= notice %></p>
 
 
<div class="page-header" align="center" id="banner">
<div class="row">
<div class="col-sm-6">
<h1>mHealth Labs Project Deck</h1>
<p class="lead">The current projects underway, approved by the mHealth executive committee, updated in real-time</p>
</div>

<div class="col-sm-6">
<p>

<a href = "#completedbookm" style="color:#4caf50">completed</a>&nbsp;
<a href = "#activebookm" style="color:#03a9f4">active</a>
 &nbsp;//&nbsp; 
<a href ="<%= users_path %>" style="color:#222222"> by team member</a>
</p></div>
</div></div>


<div class="row"><p><br></p></div>





  
<% allcompletedprojects = @projects.where(complete: true).order(datecreated: :desc) %>


<% allactiveprojects = @projects.where(approved: true).order(datecreated: :desc)%>


<div class="row" id="completedbookm">
    <a href="" class="btn btn-raised btn-success">Completed</a>
  
  </div>

<div class="row">

<% if allcompletedprojects.empty?() != true %>
<% allcompletedprojects.each do |project|%>
<% if project.exists %>
 <div class="col-sm-6"> 
 <%= render "project", project: project %>

 </div>
 <% else %>
 <% end %> <!-- closes if exists statement -->
 <% end %> <!-- closes projects loop -->    
 <% end %>
</div> 
     
 <div class="row" id="activebookm">
     <a href="" class="btn btn-raised btn-info">Active</a>

   </div>

 <div class="row">

<% if allactiveprojects.empty?() != true %>
 <% allactiveprojects.each do |project|%>
 <% if project.exists %>
  <div class="col-sm-6"> 
  <%= render "project", project: project %>

  </div>
  <% else %>
  <% end %> <!-- closes if exists statement -->
  <% end %> <!-- closes projects loop -->    
  <% end %>
 </div> 
 
 
    
    
  
 <!--<%= link_to 'New Project', new_project_path %>-->
